		@font-face { 
            font-family: 'RalewayRegular';  
            src: local('Raleway Regular'), 
            local('Raleway-Regular'), 
            url('Raleway-Regular.ttf'); 
        }

        @font-face { 
            font-family: 'RobotoSlabRegular';  
            src: local('Roboto Slab Regular'), 
            local('RobotoSlab-Regular'), 
            url('RobotoSlab-Regular.ttf'); 
        }
		body {
			margin: 0px;
		}

		img.background {
            float: left;
            width: 101%;
            height: inherit;
            position: absolute;
            top: 3%;
            z-index: -1;
        }
        
        .left {
            left: 30px;
        }

        .right {
            right: 30px;
        }

		.header {
			overflow: auto;
			width: 100%;
			height: inherit;
			background-color: black;
			padding-top: 10px;
			padding-bottom: 15px;
			padding-left: 5px;
		}

		.header .left {
			position: relative;
			float: left;
		}

		.header .right {
			position: relative;
			float: right;
			margin-right: 25px;
		}

		.header ul>li {
			display: inline-block;
		}

		.header ul>li>a {
            font-family: RobotoSlabRegular;
            font-size: 1.15em;
            text-decoration: none;
            margin-right:20px;
			color: white;
		}

		.header li>a.selected {
			border-top: 1px solid white;
			border-bottom: 1px solid white;
		}

		.header li>a:hover {
			border-top: 1px solid white;
			border-bottom: 1px solid white;
			font-weight: bold;
		}

		.banner {
            position: absolute;
            bottom: 10%;
            width: 100%;
            text-align: center;
        }

		.contact_input {
			margin: 50px 100px;
			font-family: RobotoSlabRegular;
		}

		.form-control {
			display: block;
			margin-top: 10px;
			width: 30%; 
			height: 34px; 
			padding: 6px 12px; 
			font-size: 14px; 
			line-height: 1.428571429; 
			color: #555555; 
			vertical-align: middle; 
			background-color: #ffffff; 
			border: 1px solid #cccccc; 
			border-radius: 4px; 
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); 
			transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; 
		} 

		.form-control:focus { 
			border-color: #66afe9; 
			outline: 0; 
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6); 
		}

		.comment_area {
			width: 50%; 
			height: 100px; 
		}

		.image_left_section, .image_right_section {

		}

		.image_left_section {
			padding-top: 50px;
			padding-bottom: 50px;
			overflow: auto;
		}

		.image_left_section img {
			float: left;
			width: 40%;
			padding-left: 50px;
		}

		.image_left_section .textarea {
			float: right;
			width: 47%;
			margin-right: 50px;
			padding: 65px 0;
		}

		.textarea .content {
            font-family: RobotoSlabRegular;
			font-size: 1.25em;
		}

		.textarea .content b {
            font-family: RalewayRegular;
            font-size: 1.5em;
		}

		.textarea .title {
			font-family: RalewayRegular;
            font-size: 1.8em;
		}

		.image_right_section {
			padding-top: 50px;
			padding-bottom: 50px;
			overflow: auto;
		}

		.image_right_section img {
			
			float: right;
			width: 40%;
			margin-right: 50px;
		}

		.image_right_section .textarea {
			float: left;
			width: 47%;
			margin-left: 50px;
		}

		.image_back_section {
			height: 400px;
			position: relative;
		}

		.image_back_section .textarea {
			color: white;
			padding: 60px 200px ;
			position: absolute;
			z-index: 100;
		}

		.image_back_section img {
			height: 100%;
			width: 100%;
			position: absolute;
			z-index: -2;
		}

		.image_back_section .shadow {
			height: 100%;
			width: 100%;
			background-color: rgba(0,0,0,0.5);
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			position: absolute;
			z-index: -1;
		}

		.title_section {
            font-family: RalewayRegular;
			text-align: center;
			padding: 30px 100px;
			font-size: 3em;
		}

		.text_section {
			padding: 30px 100px;
			text-align: center;
		}

		.text_section .textarea .title {
			font-size: 1.8em;
		}

		#title {
            font-family: RalewayRegular;
            font-size: 5em;
            color: white;
        }

        #subtitle {
            font-family: RobotoSlabRegular;
            font-size: 1.75em;
            margin-top: 10px;
            color: white;
        }

		#beginning {
			padding: 65px 0;
		}

		#stereoscopic_photos {
			padding: 0;
		}

		#link_trainer {
			padding: 20px 0;
		}

		#science_fiction {
			padding: 30px 0;
		}

		#military_uses {
			padding-left: 30px;
		}

		#submit {
			margin-top: 30px;
			font-family: RalewayRegular;
			font-size: 1.5em;
			padding: 10px 20px;
			color: white;
			background-color: #8bc34a;
		}

		#like_our_site {
			margin-top: 20px;
		}